{% load static %}
{% include 'header.html' %}

<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
    <div class="hamburger">
        <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
            <span>Menú</span>
            <div class="hamburger_container">
                <div class="menu_hamburger">
                    <div class="line_1 hamburger_lines"></div>
                    <div class="line_2 hamburger_lines"></div>
                    <div class="line_3 hamburger_lines"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home">
<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/static/images/huevosjpeg" style="background-image: url('/static/images/huevos.jpeg');" data-speed="0.8"></div>        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">

                        <div class="home_subtitle page_subtitle">
                            Granja Avícola "El Pollón"
                        </div>

                        <div class="home_title">
                            <h1>Contacto</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="contact_title">
                    Información de Contacto
                </div>

                <div class="contact_text">
                    <p>Estamos comprometidos con ofrecerte los productos avícolas más frescos y de la mejor calidad directamente desde nuestra granja hasta tu mesa. ¡Contáctanos para pedidos al por mayor y menor!</p>
                </div>

                <div class="contact_logo_container">
                    <div class="contact_logo_title">
                        Granja Avícola "El Pollón"
                    </div>

                    <div class="contact_logo_subtitle">
                        Calidad y Frescura de Origen
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-6">
                <div class="contact_list_container d-flex flex-column align-items-lg-center justify-content-start">

                    <ul class="contact_list">
                        <li>
                            <div>Dirección</div>
                            <div>Píllaro, Tungurahua, Ecuador</div>
                        </li>

                        <li>
                            <div>Teléfono / Pedidos</div>
                            <div>+593 99 999 9999</div>
                        </li>

                        <li>
                            <div>Correo Electrónico</div>
                            <div>contacto@elpollon.com</div>
                        </li>
                    </ul>

                    <div class="contact_social">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="reservations text-center">

    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/reservations.jpg' %}" data-speed="0.8"></div>

    <div class="container">
        <div class="reservations_content d-flex flex-column align-items-center justify-content-center">

            <div class="res_stars page_subtitle">
                Calidad Garantizada
            </div>

            <div class="res_title">
                Cotiza tu Pedido
            </div>

            <form id="res_form" class="res_form">

                <input type="text" id="datepicker" class="res_input" placeholder="Fecha de entrega">

                <input type="text" class="res_input timepicker" placeholder="Hora sugerida">

                <select class="res_select">
                    <option>Pedido Menor (Unidades)</option>
                    <option>Pedido Mediano (Cubetas/Cajas)</option>
                    <option>Pedido al por Mayor (Distribución)</option>
                </select>

                <button class="res_button">
                    Enviar Solicitud
                </button>

            </form>

        </div>
    </div>
</div>

{% include 'footer.html' %}