{% load static %}
{% include 'header.html' %}

<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
	<div class="hamburger">
		<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
			<span style="color:red;">Menú</span>
			<div class="hamburger_container">
				<div class="menu_hamburger">
					<div class="line_1 hamburger_lines"></div>
					<div class="line_2 hamburger_lines"></div>
					<div class="line_3 hamburger_lines"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="menu trans_800">
	<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
		<ul>
			<li><a href="/" style="color:red;">Inicio</a></li>
			<li><a href="/about/" style="color:blue;">Nosotros</a></li>
			<li><a href="/menu/" style="color:green;">Menú</a></li>
			<li><a href="#" style="color:orange;">Delivery</a></li>
			<li><a href="/blog/" style="color:purple;">Blog</a></li>
			<li><a href="/contact/" style="color:brown;">Contacto</a></li>
		</ul>
	</div>

	<div class="menu_reservations_phone ml-auto" style="color:red;">
		Reservations: +34 586 778 8892
	</div>
</div>

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/static/public/images/contact.jpg" data-speed="0.8"></div>

	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content text-center">

						<div class="home_subtitle page_subtitle" style="color:blue;">
							El Buen Aroma
						</div>

						<div class="home_title">
							<h1 style="color:red;">Contacto</h1>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contact">
	<div class="container">
		<div class="row">

			<div class="col-lg-6">
				<div class="contact_title" style="color:green;">
					Información de Contacto
				</div>

				<div class="contact_text">
					<p>Lorem ipsum dolor sit amet...</p>
				</div>

				<div class="contact_logo_container">
					<div class="contact_logo_title" style="color:purple;">
						El buen Aroma
					</div>

					<div class="contact_logo_subtitle" style="color:orange;">
						Restaurante
					</div>
				</div>
			</div>

			<div class="col-xl-5 col-lg-6">
				<div class="contact_list_container d-flex flex-column align-items-lg-center justify-content-start">

					<ul class="contact_list">
						<li>
							<div style="color:red;">Address</div>
							<div>1481 Creekside Lane Avila Beach</div>
						</li>

						<li>
							<div style="color:blue;">Phone</div>
							<div>+53 345 7953 324</div>
						</li>

						<li>
							<div style="color:green;">E-mail</div>
							<div>yourmail@gmail.com</div>
						</li>
					</ul>

					<div class="contact_social">
						<ul class="d-flex flex-row align-items-center justify-content-start">
							<li><a href="#" style="color:red;"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" style="color:blue;"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" style="color:green;"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" style="color:orange;"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" style="color:purple;"><i class="fa fa-behance"></i></a></li>
							<li><a href="#" style="color:brown;"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

<div class="reservations text-center">

	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/static/public/images/reservations.jpg" data-speed="0.8"></div>

	<div class="container">
		<div class="reservations_content d-flex flex-column align-items-center justify-content-center">

			<div class="res_stars page_subtitle" style="color:gold;">
				5 Stars
			</div>

			<div class="res_title" style="color:red;">
				Make a Reservation
			</div>

			<form id="res_form" class="res_form">

				<input type="text" id="datepicker" class="res_input">

				<input type="text" class="res_input timepicker">

				<select class="res_select">
					<option>2 person</option>
					<option>3 person</option>
					<option>4 person</option>
				</select>

				<button class="res_button" style="background-color:green; color:white;">
					Make a Reservation
				</button>

			</form>

		</div>
	</div>
</div>

{% include 'footer.html' %}