{% load static %}

{% include 'header.html' %}

<!-- Hamburger -->
<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
	<div class="hamburger">
		<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
			<span>Menú</span>
			<div class="hamburger_container">
				<div class="menu_hamburger">
					<div class="line_1 hamburger_lines"></div>
					<div class="line_2 hamburger_lines"></div>
					<div class="line_3 hamburger_lines"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Home -->
<div class="home">
	<div class="parallax_background parallax-window"
		data-parallax="scroll"
		data-image-src="{% static 'public/images/home.jpg' %}"
		data-speed="0.8"></div>

	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content text-center">
						<div class="home_subtitle page_subtitle">GRANJA AVÍCOLA SANTA TERESITA</div>

						<div class="home_title">
							<h1>Producción Natural y Saludable de Huevos y Pollos</h1>
						</div>

						<div class="home_text ml-auto mr-auto">
							<p>
								Somos una granja avícola dedicada a la producción responsable de huevos frescos y aves de calidad,
								cuidando cada proceso desde la crianza hasta la distribución.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll_icon"></div>
</div>

<!-- Intro -->
<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="intro_content">
					<div class="intro_subtitle page_subtitle">Calidad Garantizada</div>

					<div class="intro_title">
						<h2>LA MEJOR PRODUCCIÓN AVÍCOLA DE LA ZONA</h2>
					</div>

					<p>Sistema desarrollado por el grupo 1</p>

					<div class="intro_text">
						<p>
							Nuestra granja avícola trabaja con altos estándares de higiene, bienestar animal y alimentación natural,
							garantizando productos frescos y de excelente calidad para el consumidor.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-4 col-md-6 intro_col">
						<div class="intro_image">
							<img src="{% static 'public/images/intro_1.jpg' %}" alt="">
						</div>
					</div>

					<div class="col-xl-4 col-md-6 intro_col">
						<div class="intro_image">
							<img src="{% static 'public/images/intro_2.jpg' %}" alt="">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Video -->
<div class="video_section">
	<div class="background_image"
		style="background-image:url('/static/public/images/video.jpg')">
	</div>

	<div class="video_section_content d-flex flex-column align-items-center justify-content-center text-center">
		<div class="video_section_title" style="color: blue; font-size: 40px;">
			VIDEO DE LA GRANJA AVÍCOLA
		</div>

		<div class="video_section_icon">
			<a class="vimeo video_button"
				href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0">
				<i class="fa fa-play" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>

<!-- Signature -->
<div class="sig">
	<div class="sig_content_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="sig_content">

						<div class="sig_subtitle page_subtitle" style="color: orange;">
							Producto Destacado
						</div>

						<div class="sig_title">
							<h1 style="color: darkred;">HUEVOS FRESCOS DE GRANJA</h1>
						</div>

						<h3 style="font-style: italic;">100% Naturales</h3>

						<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
							<div class="sig_name">Calidad directa del productor</div>
							<div class="sig_price ml-auto" style="color: green;">$3.50 / cubeta</div>
						</div>

						<div class="sig_content_list">
							<ul>
								<li><a href="index.html">Inicio</a></li>
								<li><a href="about.html">Nosotros</a></li>
								<li><a href="menu.html">Productos</a></li>
								<li><a href="#">Ventas</a></li>
								<li><a href="blog.html">Noticias</a></li>
								<li><a href="contact.html">Contacto</a></li>
							</ul>
						</div>

						<div class="button sig_button trans_200">
							<a href="#">Comprar Ahora</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sig_image_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 offset-lg-5">
					<div class="sig_image">
						<div class="background_image"
							style="background-image:url('/static/public/images/sig.jpg')">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Reservas / Pedidos -->
<div class="reservations text-center">

	<div class="parallax_background parallax-window"
		data-parallax="scroll"
		data-image-src="{% static 'public/images/reservations.jpg' %}"
		data-speed="0.8"></div>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="reservations_content d-flex flex-column align-items-center justify-content-center">

					<div class="res_title">Realizar Pedido</div>

					<div class="res_form_container">
						<form action="#" id="res_form" class="res_form">

							<div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">

								<input type="text" class="res_input" placeholder="Fecha de entrega" required>

								<input type="text" class="res_input" placeholder="Hora de entrega" required>

								<select class="res_select">
									<option disabled selected>Cantidad de productos</option>
									<option>1 cubeta de huevos</option>
									<option>2 cubetas</option>
									<option>5 cubetas</option>
									<option>Mayorista</option>
								</select>

							</div>

							<button class="res_button" style="background-color: orange;">
								Hacer Pedido
							</button>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>

{% include 'footer.html' %}