{% load static %}
{% include 'header.html' %}
<!-- Hamburger -->
<!-- Menú de navegación -->
<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
	<div class="hamburger">
		<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
			<span>menu</span>
			<div class="hamburger_container">
				<div class="menu_hamburger">
					<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
					<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Menu -->

<div class="menu trans_800">
	<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
		<ul>
			<li><a href="index.html">VOLVER AL MENU</a></li>
			<li><a href="about.html">about us</a></li>
			<li><a href="menu.html">menu</a></li>
			<li><a href="#">delivery</a></li>
			<li><a href="blog.html">Noticias</a></li>
			<li><a href="contact.html">Contáctanos</a></li>
		</ul>
	</div>
	<div class="menu_reservations_phone ml-auto">Reservations: +34 586 778 8892</div>
</div>

<!-- Home -->

<div class="home_title"><h1>Una Experiencia Única</h1></div>
	<div class="parallax_background parallax-window"
		data-parallax="scroll"
		data-image-src="{% static 'public/images/home.jpg' %}"
		data-speed="0.8">
	</div>

	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content text-center">
						<div class="home_subtitle page_subtitle">El Lugar es</div>
						<div class="home_title"><h1>Una Experiencia Extraordinaria</h1></div>
						<div class="home_text ml-auto mr-auto">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll_icon"></div>
</div>

<!-- Intro -->

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="intro_content">
					<div class="intro_subtitle page_subtitle">Algo Nuevo</div>
					<div class="intro_title"><h2>LA MEJOR EXPERIENCIA PARA TU PALADAR</h2></div>
					<p>Sistema desarrollado por el grupo 1</p>
 
					<div class="intro_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti. Vivamus luctus diam eu neque rutrum, vitae aliquet dolor venenatis. Nulla consequat fringilla massa.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-4 col-md-6 intro_col">
						<div class="intro_image">
						<img src="{% static 'public/images/intro_1.jpg' %}" alt="">
						</div>
					</div>

					<div class="col-xl-4 col-md-6 intro_col">
						<div class="intro_image">
							<img src="{% static 'public/images/intro_2.jpg' %}" alt="Introduccion 2">
						</div>
					</div>
				</div>

			</div>	
		</div>
	</div>
</div>

<!-- Video -->

<div class="video_section">
	<div class="background_image"
		style="background-image:url('/static/public/images/video.jpg')">
	</div>

	<div class="video_section_content d-flex flex-column align-items-center justify-content-center text-center">
		<div class="video_section_title" style="color: red;">VIDEO PROMOCIONAL</div>

		<div class="video_section_icon">
			<a class="vimeo video_button"
				href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0">
				<i class="fa fa-play" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>

<!-- Signature Dish -->

<div class="sig">
	<div class="sig_content_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="sig_content">
						<div class="sig_subtitle page_subtitle">Especial de la Casa</div>

						<div class="sig_title"><h1>Nuestro Plato Insignia</h1></div>

						<div class="sig_title"><h3>Plato Recomendado si tienes hambre</h3></div>

						<div class="rating_r sig_rating rating_r_5">
							<i></i><i></i><i></i><i></i><i></i>
						</div>

						<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
							<div class="sig_name">Lomo de Cerdo Marinado con Pimienta Verde</div>
							<div class="sig_price ml-auto">$25\</div>
						</div>

						<div class="sig_content_list">
							<ul>
    <li><a href="index.html">Inicio</a></li>
    <li><a href="about.html">Nosotros</a></li>
    <li><a href="menu.html">Menú</a></li>
    <li><a href="#">Delivery</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contacto</a></li>
</ul>
						</div>

						<div class="button sig_button trans_200">
							<a href="#">Ordena Ahora desde Nuestro Menú</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sig_image_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 offset-lg-5">
					<div class="sig_image">

						<div class="background_image"
							style="background-image:url('/static/public/images/sig.jpg')">
						</div>

						<img src="{% static 'public/images/sig.jpg' %}" alt="Plato Insignia">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Reservations -->

<div class="reservations text-center">

	<div class="parallax_background parallax-window"
		data-parallax="scroll"
		data-image-src="{% static 'public/images/reservations.jpg' %}"
		data-speed="0.8">
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="reservations_content d-flex flex-column align-items-center justify-content-center">

					<div class="res_stars page_subtitle">
    <i class="fa fa-star" style="color: #cbd154;"></i>
    <i class="fa fa-star" style="color: #cbd154;"></i>
    <i class="fa fa-star" style="color: #cbd154;"></i>
    <i class="fa fa-star" style="color: #cbd154;"></i>
    <i class="fa fa-star" style="color: #cbd154;"></i>
</div>
					<div class="res_title">Make a Reservation</div>

					<div class="res_form_container">
						<form action="#" id="res_form" class="res_form">

							<div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">

								<input type="text"
									id="datepicker"
									class="res_input"
									required="required">

								<input type="text"
									class="res_input timepicker"
									required="required">

								<select class="res_select">
									<option disabled selected>2 person</option>
									<option>3 person</option>
									<option>4 person</option>
									<option>5 person</option>
									<option>6 person</option>
									<option>Más de un trillon de personas</option>
								</select>

							</div>

							<button class="res_button">Hacer una Reservación</button>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>

{% include 'footer.html' %}