{% load static %}
{% include 'header.html' %}
<!-- Hamburger -->

<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
	<div class="hamburger">
		<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
			<span>menu</span>
			<div class="hamburger_container">
				<div class="menu_hamburger">
					<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
					<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/static/public/images/menu.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content text-center">
						<div class="home_subtitle page_subtitle">Producción Avícola</div>
						<div class="home_title"><h1>Granja Avícola El Progreso</h1></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- The Menu -->

<div class="themenu">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_subtitle page_subtitle">Productos Frescos</div>
					<div class="section_title"><h1>Catalogo de productos</h1></div>
				</div>
			</div>
		</div>
		<div class="row themenu_text_row">
			<div class="col-lg-6">
				<div class="themenu_text">
					<p>En Granja Avícola El Progreso ofrecemos productos avícolas frescos y de excelente calidad, obtenidos mediante procesos responsables que garantizan higiene, seguridad alimentaria y el mejor sabor para nuestros clientes. Nuestro compromiso es brindar alimentos nutritivos y saludables para el consumo diario.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="themenu_text">
					<p>Contamos con una amplia variedad de huevos frescos, pollos de engorde y productos derivados, cuidadosamente seleccionados para satisfacer las necesidades de hogares, comercios y restaurantes. Trabajamos con dedicación para ofrecer siempre frescura, calidad y confianza en cada producto.</p>
				</div>
			</div>
		</div>
		<div class="row themenu_row">
			
			<!-- Starters -->
			<div class="col-lg-4 themenu_column">
				<div class="themenu_image"><img src="/static/public/images/starters.jpg" alt="Starters"></div>
				<div class="themenu_col trans_400">
					<div class="themenu_col_title">Huevos de campo</div>
					<div class="dish_list">

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevos Blancos</div>
								<div class="dish_price">$5</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevos Criollos</div>
								<div class="dish_price">$3.50</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Comprar ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Pollo Entero</div>
								<div class="dish_price">$9</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ver Producto</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Biceras de Pollo</div>
								<div class="dish_price">$4.00</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Alas de pollo</div>
								<div class="dish_price">$2</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

					</div>
				</div>
			</div>

			<!-- Main -->
			<div class="col-lg-4 themenu_column">
				<div class="themenu_image"><img src="/static/public/images/main.jpg" alt="Main"></div>
				<div class="themenu_col trans_400">
					<div class="themenu_col_title">Huevos de Gallina</div>
					<div class="dish_list">
						
						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Pollo Entero de campo</div>
								<div class="dish_price">$ 10</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevos de Pato</div>
								<div class="dish_price">1.50</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Gallina de balanceado</div>
								<div class="dish_price">$17</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Molleja de Pollo</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Leche en funda</div>
								<div class="dish_price">$1.00</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Caja dePollos Pequeños</div>
								<div class="dish_price">$60</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevo de Ganzo</div>
								<div class="dish_price">$17</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

					</div>
				</div>
			</div>

			<!-- Deserts -->
			<div class="col-lg-4 themenu_column">
				<div class="themenu_image"><img src="/static/public/images/deserts.jpg" alt="Deserts"></div>
				<div class="themenu_col trans_400">
					<div class="themenu_col_title">Productos Derivados</div>
					<div class="dish_list">

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Lava Cake</div>
								<div class="dish_price">$20</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Presas de Pollo</div>
								<div class="dish_price">Desde 5 Dolares</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar Ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevo de codorniz</div>
								<div class="dish_price">4.00</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevos Cafes de campo</div>
								<div class="dish_price">4.50</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordenar ahora</a></div>
						</div>

						<!-- Dish -->
						<div class="dish">
							<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
								<div class="dish_title">Huevis Blancos</div>
								<div class="dish_price">$17</div>
							</div>
							<div class="dish_contents">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
								</ul>
							</div>
							<div class="dish_order"><a href="#">Ordena ahora</a></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Signature Dishes -->

<div class="sig">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container">
					<div class="section_subtitle page_subtitle">Nuevos productos</div>
					<div class="section_title"><h1>Productos Destacados</h1></div>
				</div>
			</div>
		</div>
		<div class="row sig_row">
			<div class="col">
				
				<!-- Signature Dish -->
				<div class="sig_dish">
					<div class="row row-eq-height">
						<div class="col-lg-6 sig_col d-flex flex-column align-items-start justify-content-center">
							<div class="sig_content">
								<div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
									<div class="sig_name">Huevos Frescos de Campo</div>
									<div class="sig_price ml-auto">$3.50</div>
								</div>
								<div class="sig_content_list">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li>Pork</li>
										<li>Tenderloin</li>
										<li>Green Pepper</li>
										<li>Veggies</li>
									</ul>
								</div>
								<div class="button sig_button trans_200"><a href="#">Order Ahora</a></div>
							</div>
						</div>
						<div class="col-lg-6 sig_col">
							<div class="sig_image"><img src="/static/public/images/sig_1.jpg" alt="Signature Dish"></div>
						</div>
					</div>
				</div>

				<!-- Signature Dish -->
				<div class="sig_dish">
					<div class="row row-eq-height">
						<div class="col-lg-6 sig_col d-flex flex-column align-items-start justify-content-center">
							<div class="sig_content">
								<div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
									<div class="sig_name">Pollo Entero Fresco</div>
									<div class="sig_price ml-auto">$23</div>
								</div>
								<div class="sig_content_list">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li>Pork</li>
										<li>Tenderloin</li>
										<li>Green Pepper</li>
										<li>Veggies</li>
									</ul>
								</div>
								<div class="button sig_button trans_200"><a href="#">Order Ahora</a></div>
							</div>
						</div>
						<div class="col-lg-6 sig_col">
							<div class="sig_image"><img src="/static/public/images/sig_2.jpg" alt="Signature Dish"></div>
						</div>
					</div>
				</div>

				<!-- Signature Dish -->
				<div class="sig_dish">
					<div class="row row-eq-height">
						<div class="col-lg-6 sig_col d-flex flex-column align-items-start justify-content-center">
							<div class="sig_content">
								<div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
									<div class="sig_name">Pechuga de Pollo</div>
									<div class="sig_price ml-auto">$20</div>
								</div>
								<div class="sig_content_list">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li>Pollo</li>
										<li>Pechuga</li>
										<li>patitas de pollo</li>
										<li>Huevos masters</li>
									</ul>
								</div>
								<div class="button sig_button trans_200"><a href="#">Ordenar Ahora</a></div>
							</div>
						</div>
						<div class="col-lg-6 sig_col">
							<div class="sig_image"><img src="/static/public/images/sig_3.jpg" alt="Signature Dish"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
    {% include 'footer.html' %}